body {
	background-color: #f3e5d7;
}
.receipe {
	margin: 0% 30% 0% 30%;
	background-color: white;
	border-radius: 10px;
	padding: 25px;
}
.pic {
	border-radius: 10px;
	width: 100%;
	height: 300px;
	object-fit: cover;
}
h1 {
	color: #312e2c;
	font-family: "young serif";
	font-weight: 400;
}
.veg {
	background-color: #b5ffae;
	font-weight: bold;
	margin-right: 10px;
	padding: 5px;
	font-family: "young serif";
	font-weight: 400;
}
.ita {
	background-color: #f0ffae;
	padding: 5px;
	font-weight: bold;
	font-family: "young serif";
	font-weight: 400;
}
h2 {
	color: #854632;
	font-family: "young serif";
	font-weight: 400;
}
.droite {
	color: #854632;
	font-family: "outfit";
	text-align: left;
	font-weight: bold;
	width: 40%;
}
.gauche {
	font-family: "outfit";
	width: max-content;
}
ol li::marker {
	color: #854632;
	font-weight: bold;
}
li {
	padding-bottom: 10px;
	font-family: "gabarito";
	color: #5f564d;
	line-height: 150%;
}
h3 {
	color: #7a284e;
	font-family: "outfit";
}
.ytb {
	background-color: #fff7fb;
	padding: 5px 10px 5px 10px;
	border-radius: 10px;
	font-weight: 400;
}
.tableau {
	border-collapse: collapse;
	width: 100%;
}
.tableau td {
	border-bottom: 1px solid black;
	padding: 8px;
}
