body {
	display: flex;
	justify-content: center;
	margin-top: 20%;
	background-color: #f3e5d7;
	font-family: "young serif";
}
.arrabiata {
	background-color: white;
	border-radius: 10px;
	padding: 20px;
}
input {
	color: #e8ceda;
	background-color: #fff7fb;
	border-style: none;
	display: block;
	padding: 10px;
}
a {
	background-color: #7a284e;
	color: white;
	border-radius: 10px;
	display: block;
	text-align: center;
	padding: 15px;
}
