body {
	display: flex;
	justify-content: center;
	margin-top: 14%;
	background-color: #f3e5d7;
	font-family: "young serif";
}
.arrabiata {
	background-color: white;
	border-radius: 10px;
	padding: 20px;
}
a {
	background-color: #7a284e;
	color: white;
	border-radius: 10px;
	display: block;
	text-align: center;
	padding: 15px;
	font-weight: 400;
	margin-bottom: 20px;
}
h1 {
	font-weight: 400;
	color: #312e2c;
	width: 80%;
	white-space: nowrap;
	text-align: left;
	margin-right: 70px;
}
.penne::placeholder {
	color: #e8ceda;
	background-color: #fff7fb;
	font-family: "young serif";
	font-size: 22px;
}
.penne {
	width: 94%;
	padding: 15px;
	background-color: #fff7fb;
	margin-bottom: 20px;
	border: none;
	outline: none;
	border-radius: 10px;
}
